@mixin form-border {
    border-radius:0px;
    height: 20px;
    line-height: 1;
}

@mixin placeholdor-style {
    color: $text-color-placeholder;
    font-size: 10px;
}

@mixin padding-margin-imporant {
    margin: 0 !important;
    padding: 0 !important;
}

@mixin button-size {
    width: 79px;
    height: 20px;
    padding: 0;
    border: none;
    font-size: 10px;
}