@mixin form-border {
    border-radius:0px;
    height: 20px;
    line-height: 1;
}

@mixin btn-width {
    border-radius: 3px;
    padding: 0 1.5rem;
    min-width: 6rem;
}

@mixin placeholdor-style {
    color: $text-color-placeholder;
    font-size: 0.9rem;
}

@mixin padding-margin-imporant {
    margin: 0 !important;
    padding: 0 !important;
}