@mixin form-border {
    border-radius:0px;
    height: 20px;
    line-height: 1;
}

@mixin btn-width {
    width: 5rem;
    border-radius: 3px;
    box-shadow: 1px
}

@mixin placeholdor-style {
    color: $text-color-placeholder;
    font-size: 0.9rem;
}