$light-green-border: #7ac141;
$green-normal: #2a8c15;
$green-shadow: #71b53f;
$green-toogle: #6cb834;
$bg-togle-table: #ffffff;
$green-bg-hover-tr: #d8fabd;
$bg-gradient: linear-gradient(to bottom, #7ac141 0%,#7ac141 52%,#6cb834 56%,#6cb834 100%);
$bg-logo: #f8f8f8;
$bg-content: #f0f0f0;
$gray-border: #a0a0a0;
$green-button: linear-gradient(to bottom, #63ba41 50%, #2a8c15 50%);
$red-button: linear-gradient(to bottom, #e37900 0%,#e37900 47%,#e17300 53%,#cc3e00 59%,#cc3e00 100%);
$green-width-button: linear-gradient(to bottom, #63ba41 0%,#63ba41 47%,#5db53c 53%,#2a8c15 59%,#2a8c15 100%);
$red-symbol: #cf0000;
$text-color-placeholder: #4f4f4f;
$text-color: #1c1c1c;


